In [1]:
for i in range (0,20):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
for i in range (10,20):
    print(i,end=' ')

10 11 12 13 14 15 16 17 18 19

In [15]:
list = [10,20,14,55,43,87,76]
print(list)

print("Number of item in the List2:",len(list))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [21]:
str = "Artificial Intelligence"
print (str)

for i in str:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [25]:
name = input("-Your Name-")
Age = input("-Your Age-")
Profession = input("-Your Profession-")

-Your Name- Char
-Your Age- 25
-Your Profession- IT

In [27]:
tup = (1, 'Welcome', 2, 'Hope')
print (tup)

(1, 'Welcome', 2, 'Hope')

In [29]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
tup3 = (Tuple1,Tuple2)
print (tup3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [39]:
list2= [20,10,16,19,25,1,276,188]
for n in list2:
    if ((n%2) ==1):
        print(n,"is odd")

19 is odd
25 is odd
1 is odd

In [41]:
list2= [20,10,16,19,25,1,276,188]
for n in list2:
    if ((n%2) ==0):
        print(n,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even